:root {
    --brown: #4c3021;
    --green: #146b2f;
    --bgcolor: #ebe6df;
    --white: rgb(238, 238, 238);
    --grey: rgb(139, 139, 139);
    --bgprimary: #d6cfc5;
    --h1: 2.8rem;
    --p: 1rem;
    --bg-height: 820px;
    --bg-width: 1372px;
    --bg-margin: 28px 120px 0px 282px;
    --bp-height: 432px;
    --bp-width: 580px;
    --transition: color 0.1s, background-color 0.2 ease-in-out;
  }
 