@import "vars";

body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 62.5%;
    box-sizing: border-box;
}
.order-confirm-container{
    position: relative;
    bottom: 600px;
    left: 562px;
    width: 600px;
    max-width: 600px;
}
.delivery-div{
    font-size: 1rem;
}
.delivery-div h3{
    position: relative;
    left: 4px;
}
.elegir-botones{
    display: flex;
}
.delivery-button{
    height: 32px;
    width: 122px;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 32px;
    border-radius: 12px;
    border-style: none;
    cursor: pointer;
}
.delivery-button:hover{
    border: 2px solid var(--green);
}
.confirm-direc-p{
    color: var(--brown);
    width: 100px;
    font-size: 0.9rem;
    margin-left: 2px;
    position: relative;
    top: 16px;
}
.carrito-confirm{
    font-size: 1rem;
    position: relative;
    bottom: 150px;
    left: 472px;
}
.payment-confirm{
    position: relative;
    bottom: 372px;
    font-size: 1rem;
} 
.total-price-confirm{
    margin-left: 22px;
}
.total-confirm{
    color: var(--grey);
    font-size: 1.2rem;
    font-weight: 100;
    position: relative;
    width: 100px;
    bottom: 148px;
    right: 268px;
}
.payment-p-confirm{
    font-size: 1.6rem;
    color: var(--brown);
    position: relative;
    bottom: 181px;
    left: 126px;
}
.payment-h3,
.envio-h3,
.chart-h3{
    color: var(--brown);
}
.chart-h3{
    position: relative;
    right: 88px;
}
.mini-chart-div{
    width: 439px;
    position: relative;
    right: 88px;
}
