@import "vars";

body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 62.5%;
}
.form-step{
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
}
.btns-group{
    display: flex;
}
.btn{
    height: 28px;
    width: 98px;
    text-align: center;
    color: var(--white);
    background-color: var(--green);
    padding: 8px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3px;
    margin-right: 32px;
}
.btn-back{
    background-color: var(--brown);
}
.btn:hover{
    box-shadow: 0 0 0 2px var(--white), 0 0 0 3px var(--green);
}