@import "vars";

body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 62.5%;
   
}
.formulario-envio{
    position: relative;
    bottom: 582px;
    left: 562px;
    display: inline;
    width: 900px;
    height: 900px;
}
.formulario-envio form{
width: 1000px;
max-width: 1000px;
display: inline-block;
}
.formulario-envio select{
height: 42px;
width: 282px;
border-radius: 18px;
border-style: none;
padding: 8px;
margin-bottom: 62px;
margin-right: 198px;
}
.formulario-envio label{
    position: absolute;
    font-size: 1rem;
}
.formulario-envio input{
    width: 282px;
    height: 42px;
    border-radius: 18px;
    border-style: none;
    padding: 2px;
    margin-bottom: 62px;
    margin-right: 192px;
    padding-left: 6px;
}
.formulario-envio input:nth-child(14){
    height: 122px;
}
.postal-input{
    position: fixed;
    bottom: 124px;
}
.name-label{
    left: 6px;
    bottom: 412px;
}
.surname-label{
    bottom: 412px;
    left: 488px;
}
.phone-label{
    bottom: 300px;
    right: 886px;
}
.email-label{
    bottom: 300px;
    left: 488px;
}
.provincia-label{
    left: 6px;
    bottom: 186px;
}
.ciudad-label{
    bottom: 186px;
    left: 488px;
}
.direccion-label{
    left: 6px;
    bottom: 76px;
}
.postal-label{
    left: 488px;
    bottom: 76px;
}