@import "vars";

body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 62.5%;
    background-color: var(--bgcolor);
}
.shopping-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.shopping-chart1{
    background-color: var(--bgprimary);
    height: 780px;
    position: relative;
    top: 12px;
    width: 900px;
    font-family: 'Times New Roman', Times, serif;
}
.order-products-chart{
    width: 580px;
}
.shopping-chart1 h3{
    color: var(--brown);
    font-size: 2rem;
    position: relative;
    top: 8px;
    left: 22px;
}
.products-container-chart{
    height: 432px;
    background-color: var(--bgprimary);
    overflow-y: scroll;
    font-size: 2rem;
    margin-top: 0;
}
hr{
    background-color: rgb(182, 182, 182);
    height: 1px;
    border: 0ch;
}
.shopping-total-chart{
    background-color: var(--bgprimary);
    height: 272px;
    position: absolute;
    bottom: 18px;
}
.chart-total-div span{
    font-size: 1.4rem;
    position: relative;
}
.shopping-total-chart span{
    position: relative;
    font-size: 1.1rem;
}
.chart-hr-2{
    width: 900px;
}
.subtotal,
.chart-send{
  color: var(--grey);
  font-weight: 100;
}
.subtotal{
    position: relative;
    right: 522px;
    top: 22px;
}
.send-price{
    bottom: 27px;
    left: 300px;
}
.chart-send{
    position: relative;
    right: 399px;
}
.chart-price{
   bottom: 4px;
   font-weight: bold;
   left: 300px;
}
.chart-total{
    bottom: 71px;
    right: 522px;
}
.chart-total-price{
    left: 300px;
    bottom: 102px;
}
.order-chart{
    background-color: var(--green);
    border-style: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    color: var(--bgcolor);
    font-weight: 500;
    height: 42px;
    padding: 8px;
    border-radius: 12px;
    position: relative;
    left: 378px;
    cursor: pointer;
    bottom: 52px;
}
.order-chart:hover{
    border: solid 1px var(--brown);
}
