@import "vars";

body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 62.5%;
}
.chart-container1{
    height: 400px;
    max-width: 400px;
}
.start-order{
    position: relative;
    bottom: 685px;
    left: 526px;
    width: 902px;
}
.products-container-chart{
    height: 612px;
}
